@import url('https://fonts.googleapis.com/css?family=Walter+Turncoat');

body {
  background: url("https://i.imgur.com/L6nT1pl.jpg");
  background-size: 100%;
  padding-top: 50px;
}

h1 {
  font-family: 'Walter Turncoat', cursive;
  color: white;
}

#location {
  padding-top: 30px;
  font-weight: bold;
}

#weather {
  font-weight: bold;
}

#temp {
  font-weight: bold;
  cursor: pointer;
}

#temp:hover {
  color: white;
}